<!DOCTYPE html>
<html ng-app='WebOCRApp'>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <link rel="stylesheet" href="libs/angular-screenshot.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/webcam.min.js"></script>
    <script src="libs/angular-ui-router.min.js"></script>
    <script src="libs/angular-screenshot.min.js"></script>
    <script src="libs/pdfobject.min.js"></script>
    <script src="libs/angular-pdf.min.js"></script>
    <script src="libs/pdf.worker.js"></script>
    
    <script src="bower_components/pdf.js-viewer/pdf.js"></script>
    <script src="bower_components/angular-pdfjs-viewer/dist/angular-pdfjs-viewer.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

    <!--ng-material-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>

    <!--OCR module-->
    <script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>

    <script src="hxPhotos/hxPhotos.module.js"></script>
    <script src="app.js"></script>
    <script src="hxPhotos/capturePhotos.component.js"></script>
    <script src="hxPhotos/webCam.service.js"></script>
    <script>PDFObject.embed("upload/1.pdf", "#aaa");</script>

    <title> Experiments with WebOCR </title>
</head>

<body ng-controller="AdminController as $ctrl">
    <div layout="row" layout-padding>
        <div>
            <!-- <h1> IMAGE </h1>
        <md-button class="md-raised md-primary" ng-click="$ctrl.convert()">CONVERT TO OCR</md-button> -->
            <!-- <capture-photos binding-data="$ctrl.data" output-image="$ctrl.image"></capture-photos> -->

      

            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <div class="btn-group-sm pull-right">
                        <button class="btn btn-fab" ng-class="{true: 'btn-danger', false: 'btn-default'}[$ctrl.isUrlOpen]" ng-click="$ctrl.isUrlOpen = !$ctrl.isUrlOpen">
                            <i ng-if="!$ctrl.isUrlOpen" class="material-icons">crop</i>
                            <i ng-if="$ctrl.isUrlOpen" class="material-icons">close</i>
                        </button>
                    </div>

                </div>
                <div id="aaa"></div>
                <screenshot is-open="$ctrl.isUrlOpen" api="$ctrl.imageApi">
                    <screenshot-toolbox>
                        <div class="btn-group-sm">
                            <button class="btn btn-success" ng-click="$ctrl.sendImage()">
                                OCR
                            </button>
                        </div>
                    </screenshot-toolbox>
                    <div class="panel-body">
                        <!-- <img src='upload/test.png'>
                        <canvas id="the-canvas"></canvas> -->
                        <!-- <embed src="upload/1.pdf" width="500" height="375" type='application/pdf'> -->
                        <!-- <pdfjs-viewer src="upload/1.pdf"></pdfjs-viewer> -->
                        <!-- <iframe src="upload/1.pdf" style="width: 500;height: 375;border: none;"></iframe> -->
                        <ng-pdf template-url="viewer.html" scale="page-fit" page=13></ng-pdf>
                    </div>
                </screenshot>
            </div>
        </div>


        <div>
            <h1> OUTPUT TEXTS </h1>
            <div id="display"></div>
        </div>
</body>
<!-- <script>
    // If absolute URL from the remote server is provided, configure the CORS
// header on that server.
var url = 'upload/1.pdf';

// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

// Asynchronous download of PDF
var loadingTask = pdfjsLib.getDocument(url);
loadingTask.promise.then(function(pdf) {
  console.log('PDF loaded');
  
  // Fetch the first page
  var pageNumber = 2;
  pdf.getPage(pageNumber).then(function(page) {
    console.log('Page loaded');
    
    var scale = 1.5;
    var viewport = page.getViewport(scale);

    // Prepare canvas using PDF page dimensions
    var canvas = document.getElementById('the-canvas');
    var context = canvas.getContext('2d');
    canvas.height = 800;
    canvas.width = viewport.width;

    // Render PDF page into canvas context
    var renderContext = {
      canvasContext: context,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);
    renderTask.then(function () {
      console.log('Page rendered');
    });
  });
}, function (reason) {
  // PDF loading error
  console.error(reason);
});
</script> -->
</html>